{% extends '::base.html.twig' %}

{% block container %}

    <div id="fullpage">
        {% for photo in entity.photos %}
            <div class="section">
                <div class="container">
                    <div class="row album">
                        <div class="col-md-9">
                            <img src="{{ photo.webPath }}" class="img-thumbnail img-responsive center-block" alt="{{ photo.title }}">
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    {{ photo.title }}
                                </div>
                                <div class="panel-body">
                                    {{ photo.description }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="section">
            <div class="container">
                <div class="row">
                    {% if entity.author == app.user %}
                        <div class="col-sm-8 col-md-offset-2 text-center">
                            <a class="btn btn-default" href="{{ path('album') }}">
                                {{ 'elephant.album.list' | trans }}
                            </a>
                            <a class="btn btn-default" href="{{ path('album_edit', { 'id': entity.id }) }}">
                                {{ 'elephant.album.edit' | trans }}
                            </a>
                        </div>
                        {% if delete_form is defined %}
                            <div class="col-sm-1 text-center">
                                {{ form(delete_form) }}
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="col-sm-8 col-md-offset-2 text-center">
                            <a class="btn btn-default" href="{{ path('shared_album') }}">
                                {{ 'elephant.album.list' | trans }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_end %}
    <script type="text/javascript">
        function resizeImages() {
            var pluginContainer = $(this);
            $('.img-responsive').css('max-height',pluginContainer.height()-70);
        }

        $(document).ready(function () {
            $('#fullpage').fullpage({
                navigation: true,
                scrollOverflow: true,
                afterRender: resizeImages(),
                afterResize: function(){
                    resizeImages();
                }
            });

        });
    </script>
{% endblock body_end %}
