{% extends 'ElephantWebsiteBundle::layout.html.twig' %}


{% block container %}
    <div id="fullpage" class="home">
        <div class="section elephant-1 explanations">
            <div class="intro container rounded-img well">
                {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="row">
                    <div class="alert alert-danger" role="alert">
                        {{ flashMessage | trans() }}
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-md-8 text-center col-md-offset-2">
                        <h1>{{ 'elephant.home.what_is_it' | trans }}</h1>

                        <p>{{ 'elephant.home.goal' | trans }}</p>

                        <p>{{ 'elephant.home.scroll_swipe' | trans }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section elephant-2 explanations">
            <div class="intro container rounded-img well">
                <div class="row">
                    <div class="col-md-8 text-center col-md-offset-2">
                        <h2>{{ 'elephant.home.you_got_it' | trans }}</h2>

                        <p>{{ 'elephant.home.that_is_it' | trans }}</p>

                        <p>{{ 'elephant.home.see_shared' | trans }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section elephant-3 explanations">
            <div class="intro container rounded-img well">
                <div class="row">
                    <div class="col-md-8 text-center col-md-offset-2">
                        <h2>{{ 'elephant.home.want_to_know_more' | trans }}</h2>

                        <p>{{ 'elephant.home.hosting' | trans }}</p>

                        <p>{{ 'elephant.home.adding_content' | trans }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block body_end %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fullpage').fullpage({
                navigation: true
            });
        });
    </script>
{% endblock body_end %}